/* Fonts Used */

.raleway {
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.inter {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

body {
	margin: 0;
	background-color: #f5f8ff;
}

/* shared styles */

.theme-color {
	color: #4e47ff;
}

.text-pri-col {
	color: #252432;
}

.text-sec-col {
	color: #25243280;
}

button {
	background-color: #4e47ff;
	color: white;
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	line-height: 150%;
	border-radius: 10px;
	text-decoration: none;
	border-style: none;
	padding: 12px 36px;
	/* madness takes over */
	box-shadow: 0px 0px 0px 1px rgba(78, 71, 255, 0.855);
}

/* Header Styles */

.header {
	/* Since I am late anyway, might as well try to make it as picture perfect as possible maybe */

	background-image: url("../Assets/Hero-bg.png");
	background-size: cover;
	background-position: center;
	margin: 0;
}

/* Navigation Styles */

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0px 150px;
	height: 151px;
}

.nav-logo {
	color: #4e47ff;
	font-size: 34px;
	font-weight: 900;
}

.nav-btn {
	font-weight: bold;
}

/* Banner Styles */

.banner {
	display: flex;
	flex-direction: column;
	gap: 37px;
	text-align: center;
	align-items: center;
	padding: 158px 267.5px 152px;
	/* margin-top: 158px;
	margin-bottom: 152px; */
}

.banner-title {
	font-weight: bold;
	font-size: 65px;
	color: #252432;
	margin-block: 0;
}

.banner-btn {
	font-weight: bold;
}

/* Main Styles */

main {
	max-width: 1140px;
	margin: 0 auto;
}

/* Action Section Styles */

.sect {
	margin: 116px 0px;
}

.action {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.action-detail {
	/* flex-direction is a life saver for vertical alignments */

	display: flex;
	flex-direction: column;
	gap: 23px;
	max-width: 517px;
}

.action-title {
	font-size: 42px;
	font-weight: bold;
	color: #252432;
	margin: 0;
}

.action-desc {
	font-size: 24px;
	color: #25243280;
	margin: 0;
	line-height: 30px;
}

.action-btn {
	font-weight: bold;
}

.action-img {
	border-radius: 48px;
}

/* Active User Section Style */

.user {
	background-color: rgba(78, 71, 255, 0.1);
	border-radius: 24px;
	display: flex;
	flex-direction: column;
	padding: 50px 142px;
	text-align: center;
	align-content: space-between;
	max-height: 306px;
	gap: 40px;
}

.user-stat {
	display: flex;
	gap: 158px;
}

.user-detail {
	display: block;
	justify-content: space-around;
}

.user-title {
	font-size: 38px;
	font-weight: bold;
	margin: 0;
}

.user-data {
	font-size: 80px;
	font-weight: bold;
	color: #4e47ff;
	margin: 0;
}

.user-data-subtitle {
	font-size: 20px;
	color: rgba(0, 0, 0, 0.5);
	margin: 0;
}

/* Review Section Style */

.review {
	margin: 137px 0px;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.review-heading {
	font-size: 42px;
	font-weight: bold;
	color: #252432;
	text-align: center;
}

.review-collec {
	display: flex;
	gap: 20px;
	justify-content: center;
}

.review-star {
	display: flex;
	gap: 4px;
}

.review-star-img {
	height: 20px;
	width: 20px;
}

.review-card {
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid rgba(242, 237, 237, 1);
	border-radius: 14px;
	width: 366.67px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 24px;
	justify-content: center;
}

.review-content {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.review-title {
	font-size: 24px;
	font-weight: bold;
	color: #252432;
}

.review-desc {
	font-size: 18px;
	color: rgb(30, 30, 30);
	font-weight: 500;
	margin-top: 8px;
}

.review-user {
	display: flex;
	gap: 12px;
}

.review-user-info {
	display: flex;
	flex-direction: column;
	gap: 2px;
	align-items: flex-start;
}

.review-user-img {
	border-radius: 50%;
}

.review-user-name {
	font-size: 16px;
	font-weight: bold;
	color: rgb(117, 117, 117);
}

.review-user-date {
	font-size: 16px;
	color: rgb(179, 179, 179);
}

/* Focus Section Style */

.focus {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding: 71px 150px;
	background-color: white;
	border-radius: 14px;
}

.focus-title {
	font-size: 50px;
	font-weight: bold;
	color: black;
}

.focus-desc {
	font-size: 18px;
	color: rgba(0, 0, 0, 0.5);
}

.focus-btn {
	font-weight: 300;
}

.focus-img {
	border-radius: 48px;
}
/* Contact Section Style */

.contact {
	margin: 92.23px 150px 14px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 71px 0px;
	gap: 115px;
}

.contact-title {
	font-size: 97px;
	font-weight: bold;
}
.contact-form {
	display: flex;
	flex-direction: column;
	gap: 19px;
	max-width: 497px;
}

.email,
.name,
.message {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.con-email,
.com-name,
.con-message {
	font-size: 18px;
	font-weight: 400;
}

#email,
#name,
#message {
	font-size: 20px;
	padding: 20px 32px;
	border: none;
	border-radius: 10px;
	box-shadow: inset 0px 0px 0px 1px #d6dded;
}

#message {
	max-height: 135px;
}

.contact-form {
	padding: 71px 0px;
}

.contact-btn {
	font-size: 16px;
	font-weight: bold;
}
